#navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

#navbar1 a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar2 {
    position: fixed;
    top: 52px;
    left: 0;
    background-color: #333;
    width: 130px;
}

#navbar2 a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

body {
    position: absolute;
    top: 70px;
    left: 150px;
}